.modal-mask {
    position:fixed;
    z-index:9999999997;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5);
    display:table;
    transition:opacity .3s ease;
    }
    .delivery p {
        margin: 0;
    }
    .text-right{
        text-align: right;
    }
    .pay-detail{
        background-color: #f3eec9;
    }
    .delivery{
        text-align: left;
    padding: 6px 0 0 15px;
    font-weight: bolder;
    }
    .pay-item{
        display: flex;
    }
    .modal-wrapper {
    display:table-cell;
    vertical-align:middle;
    }
    
    .modal-container {
    width:300px;
    background-color:#fff;
    border-radius:2px;
    box-shadow:0 2px 8px rgba(0,0,0,.33);
    transition:all .3s ease;
    font-family:Helvetica,Arial,sans-serif;
    margin:0 auto;
    padding:20px 30px;
    }
    
    .modal-header h3 {
    margin-top:0;
    color:#42b983;
    }
    
    .modal-body {
    margin:20px 0;
    }
    
    .modal-default-button {
    float:right;
    }
    
    .modal-enter .modal-container,.modal-leave-active .modal-container {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    }
    
    .active2 {
    background-color:#feee98;
    }
    
    body {
    color:grey!important;
    margin:0;
    padding:0;
    }
    
    .active {
    background-color:grey;
    }
    
    div#app {
    margin:0;
    padding:0;
    }
    
    .product {
    height:100px;
    font-size:x-small;
    background-color:#ffe;
    border-bottom:1px solid grey;
    margin:0;
    }
    
    .control span {
    font-size:3em;
    padding:3px;
    }
    
    .shape-circle {
    border:1px solid blue;
    border-radius:48%;
    }
    
    .header {
    padding:2px auto;
    }
    
    .header h1 {
    margin:2px 30%;
    }
    
    #app {
    padding:20px;
    }
    
    .image {
    display:block;
    width:100%;
    height:auto;
    }
    
    .text {
    color:#fff;
    font-size:20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    text-align:center;
    }
    
    div.submitted {
    background-color:#dff0d8;
    }
    
    span.addedCount {
    background-color:#ff0;
    color:#00f;
    }
    
    .fa-small {
    font-size:13px!important;
    }
    
    .fix-bottom {
    position:fixed;
    bottom:0;
    left:0;
    z-index:99999999;
    width:100%;
    }
    
    .dummy {
    color:#fff;
    }
    
    .color-c {
    background-color:#fefefe;
    }
    
    .container {
    margin:0!important;
    padding:0;
    }
    
    .control {
    text-align:center;
    display:table;
    padding:4% 0;
    }
    
    .control div {
    vertical-align:middle;
    }
    
    .custom-control-inline {
    margin:1.2rem;
    }
    
    .btn {
    border-radius:0!important;
    border:0!important;
    }
    
    .add {
    width:33px;
    height:33px;
    background:url(http://xs01.meituan.net/waimai_web/img/restaurant/add-cart.svg) 100% no-repeat;
    }
    
    .product-desc {
    font-size:12px;
    font-weight:bolder;
    margin:0;
    }
    
    .red {
    color:red;
    }
    
    .topbar {
    background-color:#fee12d;
    font-family:����;
    font-size:1.2em;
    font-weight:700;
    }
    
    ul {
    list-style:none;
    padding:10px;
    }
    
    .active,div.second-cat {
    background-color:#fffde2!important;
    }
    
    html,body {
    top:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    }
    
    .top {
    position:fixed;
    top:0;
    width:100%;
    height:35.63px;
    background:#FF0;
    z-index:9999;
    }
    
    .border-left {
    border-right:1px solid grey!important;
    }
    
    .bottom { 
    position:fixed;
    bottom:0;
    width:100%;
    height:35.63px;
    background:grey;
    z-index:999999997;
    }
    
    #mask {
    width:100%;
    display:none;
    position:fixed;
    height:100%;
    top:35.63px;
    left:0;
    z-index:999996;
    background-color:#303330;
    opacity:.5;
    }
    
    .order-detail {
    position:fixed;
    bottom:35.63px;
    width:100%;
    color:#504b4b;
    z-index:999999;
    background-color:#FFF;
    font-size:small;
    }
    
    .modify {
    width:25px;
    height:25px;
    padding: -2px;
    border:1px solid #E5E5E5;
    display:inline-block;
    letter-spacing:0;
    color:#333;
    text-align:center;
    }
    
    .btn-border {
    border:1px solid grey!important;
    width:25px;
    height:25px;
    }
    
    .table-fixed {
    width:100%;
    background-color:#f3f3f3;
    }
    
    .table-fixed tbody {
    max-height:400px;
    overflow-y:auto;
    width:100%;
    }
    
    .table-fixed thead,.table-fixed tbody {
    display:block;
    }
    
    .detail td {
    padding:2px 10px;
    }
    
    .middle {
    padding-top:2.5em;
    padding-bottom:35.63px;
    }
    
    .container-fluid {
    padding-right:0;
    padding-left:0;
    }
    
    .btn-full-width {
    width:100%;
    }
    
    .cate ul {
        display: table;
width: 100%;
list-style: none;
    margin:36px 0;
    }
    
    .cate ul li {
    border-bottom:1px solid grey;
    padding:18px 0;
    }

    .pay{
        overflow: auto;
        height: 90%;
        z-index: 0;
        position: fixed;
        bottom: 30px;
    }
    
    .cate {
    position:fixed;
    right:0;
    top:0;
    width:30%;
    height:100%;
    background-color:#fefefe;
    z-index:999998;
    color:#000;
    font-size:1em;
    }
    
    .second-cat {
    padding-left:50px;
    }
    
    .modal-enter,.modal-leave-active {
    opacity:0;
    }
    
    .color-a,.color-b {
    background-color:#feffe2;
    }
    
    .topbar .col,.bottom .col {
    padding:0;
    }